<html>
<body>
  <p>this is what your sql command returned. maybe the password is the next /url?</p>
  <p>{{ query }}<p>
  <img style="width:200px;height:200px;" src="https://mcdonalds.com.au/sites/mcdonalds.com.au/files/hero_pdt_hash_brown.png">
  <img style="width:200px;height:200px;" src="http://vignette1.wikia.nocookie.net/entcyclopedia/images/b/b0/Cannabis_leaf.png/revision/latest?cb=20130627211538">
  <img style="width:200px;height:200px;" src="http://worldartsme.com/images/hashtag-clipart-1.jpg">
</body>
</html>
